html {
  font-size: 87.5%;
  @include respond(phone){
    font-size: 85.71%;
  }
  @include respond(tab-port){
    font-size: 85.71%;
  }
  @include respond(tab-land){
    font-size: 85.71%;
  }
  @include respond(big-desktop){
    font-size: 128%;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}