html{
  @include respond(big-desktop){
    header {
      
    }
  }
}

header {
  display: grid;
  align-items: flex-end;
  padding-bottom: 25px;
  background: #fff;
  position: relative;
  @include respond(tab){
    margin: $normal-margin;
    grid-template-columns: 7.5em 14.5em 1fr;
    
  }
  @include respond(tab-land){
    margin: $normal-margin;
    grid-template-columns: 12em 18em 1fr;
    
  }
  @include respond(big-desktop){
    margin: $container-margin;
    grid-template-columns: 170px 306px 1fr;
    
  }
  @include respond(tab-port){
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em 0;
    background: #eaecee;
  }

  .hamburger{
    display: none;
    @include respond(tab-port){
      position: absolute;
      display: block;
      width: 28px;
      right: 20px;
      top: 1.5em;
      
      height:20px;
      > span {
        transition: transform .4s;
        height: 4px;
        width: 100%;
        background: #1a398c;
        position: absolute;
        border-radius: 5px;
        &.two{
          top: 8px;
        }
        &.three{
          top: 16px;
        }
      }
      &.active{
        > span{
          background: red;
          &.one{
            transform: scale(0);
          }
          &.two{
            transform: rotate(45deg);
          }
          &.three{
            transform: rotate(-45deg);
            top:8px;
          }
        }
      }
    }
  }
  .title {
    border-right: 2px solid #ccc;
    > ul {
      text-align: center;
      > li{
        font-size: 54px;
        color: #193989;
        &:first-child{
          font-size: 20px;
        }
      }
    }
    @include respond(tab){
      > ul {
        > li{
          font-size: 1.8em;
        }
      }
    }
    @include respond(tab-land){
      > ul {
        > li{
          font-size: 3em;
        }
      }
    }
    @include respond(tab-port){
      display: none;
    }
  }
}
.footer-nav{
  display: none;
  @include respond(tab-port){
    display: block;
  }
  nav{
    position: relative;
    top:0;
    background: #cccccc;
    > ul {
      > li {
        > a{
          background: #ebecf0;
        }
      }
    }
  }
}
nav {
  > ul {
    display: flex;
    justify-content: space-around;
    
    &.inline{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;
    }
    > li{
      font-weight: 200;
      > a{
        color:#000;
        @include respond(tab){
          font-size: 1.1em;
        }
        @include respond(tab-land){
          font-size: 1.5em;
        }
        @include respond(big-desktop){
          font-size: 1em;
        }
      }
    }
  }
  .site-link{
    display: none;
  }
  @include respond(tab-port){
    &.active{
      transform: translateY(0) ;
      visibility: visible;
      opacity: 1;
    }
    transition: transform .5s, visibility 0s, opacity 0.1s linear;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-5px);
    position: absolute;
    top: 4.5em;
    background: #fff;
    width: 100%;
    padding: 20px;
    > ul {
      display: block;
      border-top: 1px solid #bfbfbf;
      padding-top: 1em;
      padding-bottom: 1em;
      > li{
        margin-bottom: .5em;
        > a {
          display: block;
          background: #ebebeb;
          padding: 1em 0;
          text-align: center;
          color:#707070;
          outline: 0;
        }
      }
    }
    .site-link{
      display: block;
      text-align: center;
      padding-bottom: .5em;
      color: #193989;
    }
  }
}

.logo {
  position: relative;
  > div {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #fff;
    cursor: pointer;
    > img{
      &:first-child{
        
      }
    }
  }
  @include respond(tab){
    height: 90px;
    width: 7em;
    > div{
      top: 2em;
      > img{
        width: 6em;
        margin-bottom: .5em;
        &:first-child{
          margin-bottom: .5em;
          width: 4.5em;
          
        }
      }
    }
  }
  @include respond(tab-land){
    height: 131px;
    width: 170px;
    > div{
      top: 0em;
      > img{
        width: 126px;
        margin-bottom: 5px;
        &:first-child{
          width: 93px;
          margin-top:27px;
          margin-bottom: 14px;
        }
      }
    }
  }
  @include respond(big-desktop){
    height: 131px;
    width: 170px;
    > div{
      top: 0em;
      > img{
        width: 126px;
        margin-bottom: 5px;
        &:first-child{
          width: 93px;
          margin-top:27px;
          margin-bottom: 14px;
        }
      }
    }
  }
  @include respond(tab-port){
    position: relative;
    height: 3.5em;
    width: 100%;
    > div{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background:none;
      > img {
        width: auto;
        height: 2.5em;
        margin: 0;
        &:first-child{
          margin:0;
          height: 3.5em;
          width: auto;
          margin-right: 1em;
        }
      }
    }
  }
} 

section {
  background: #cdd3d3;
  
  > div{
    margin: $normal-margin;
    @include respond(tab-port){
      margin: $mobile-margin;
    }
    @include respond(big-desktop){
      margin: $container-margin;
      
    }
    
    
    
  }
  &.section1 {
    border-top: 22px solid #001254;
    background-image: url('../../images/section-bg1.png');
    height: 531px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > div {
      > h2{
        font-size: 50px;
        color: #fff;
        line-height: 1;
        margin-bottom: .4em;
      }
      > h4{
        font-size: 36px;
        color: #fff;
        font-weight: 100;
      }
    }
    @include respond(tab-port){
      background: #1b9cf8;
      background-image: none;
      height: 400px;
      > div {
        margin: $mobile-margin;
        > h2{
          font-size: 1em;
          color: #fff;
          line-height: 1;
          margin-bottom: .4em;
          font-weight: 100;
          > span{
            font-size: 2.5em;
            font-weight: 400;
          }
        }
        > h4{
          font-size: 1em;
          color: #fff;
          font-weight: 100;
        }
      }
    }
  }
  &.section2 {
    background: #ebebeb;
    padding-top: 50px;
    padding-bottom: 43px;
    border-bottom: 2px solid #bdbdbd; 
    > div{
      > h4{
        margin: $mobile-margin;
        font-size: 34px;
      }
      > p{
        margin: $mobile-margin;
        font-size: 15px;
      }
    }
    @include respond(tab-port){
      padding-top: 2em;
      padding-bottom: 0px;
      > div{
        > h4{
          font-size: 2em;
        }
        > p{
          font-size: 1em;
        }
      }
    }
  }
  &.section3 {
    background-image: url('../../images//section-bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
    > div{
      padding: 116px 0 110px;
      text-align: center;
      > h2{
        font-size: 40px;
        margin-bottom: 22px;
      }
      > h4 {
        font-size: 24px;
        font-weight: 200;
        margin-bottom: 60px;
      }
    }
    @include respond(tab-port){
      > div{
        padding: 5em 0 5em;
        text-align: center;
        margin: $mobile-margin;
        > h2{
          font-size: 2em;
          margin-bottom: 22px;
        }
        > h4 {
          font-size: 1em;
          font-weight: 200;
          margin-bottom: 3em;
        }
      }
    }
  }
  &.section4 {
    padding-bottom: 100px;
    padding-top: 45px;
    > div{
      .slide{
        margin-top: 3em;
        margin-bottom: 5em;
      }
    }
    @include respond(tab-port){
      padding-top: 2em;
      padding-bottom: 1em;
      background: #fff;
      > div {
        > h2{
          font-size: 2em;
          margin: $mobile-margin;
        }
        > p {
          margin: $mobile-margin;
          font-size: 1em;
        }
      }
    }
  }
}
.event-card-container{
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  margin-top: 2em;
  display: grid;
  @include respond(tab-port){
    display: none;
  }
  @include respond(phone){
    display: none;
  }
}

.event-card {
  background: #1450d2;
  padding: 25px;
  color: #fff;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    height: 52px;
    width: 42px;
    background: #1450d2;
    left: 0;
    bottom:-52px;
  }
  &:after{
    content: "";
    position: absolute;
    // height: 52px;
    // width: 42px;
    left: 42px;
    bottom:-52px;
    width: 0;
    height: 0;
    border-left: 42px solid #1450d2;
    border-bottom: 52px solid transparent;
  }
  > .date{
    position: relative;
    margin-top: -44px;
    margin-left: 0px;
    background: #001254;
    color: #fff;
    height: 86px;
    width: 93px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 23px;
    font-size: 36px;
    &:before{
      content:"";
      top: 0;
      left: -19px;;
      width: 0;
      height: 0;
      border-bottom: 19px solid #3b4e96;
      border-left: 19px solid transparent;
      position: absolute;
    }
    > li {
      text-align: center;
      line-height: 1;
      margin-bottom: 5px;
      &:first-child{
        font-size: 16px;
      }
    }
  }
  
  > .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    > h4{
      font-size: 28px;
    }
    > p {
      font-size: 15px;
      font-weight: 100;
      margin-bottom: 21px;
    }
    > button{
      flex: 1;
      bottom: 0;
    }
  }
  > .location {
    position: absolute;
    width: 100%;
    height: 52px;
    bottom: -52px;
    left: 0;
    color: #000;
    text-align: right;
    line-height: 52px;
    // font-size: 18px;
  }
  @include respond(tab-port){
    > .content {
      > h4{
        font-size: 1.7em;
        margin-bottom: .7em;
      }
      > p {
        font-size: 1em;
        font-weight: 100;
        margin-bottom: 21px;
      }
    }
    > .location {
      font-size: 1.2em;
    }
  }
  @include respond(tab){
    > .location {
      font-size: 12px;
    }
  }
  
  @include respond(tab-land){
    > .location {
      font-size: 18px;
    }
  }
  
  @include respond(big-desktop){
    > .location {
      font-size: 26px;
    }
  }

  
  
  
}

.carousel {
  margin-top: 2em;
  display: none;
  @include respond(tab-port){
    display: block;
  }
  @include respond(tab-port){
    display: block;
  }
  
  .slide{
    transform: scale(.9);
    transition: .2s ease-out;
    background: none;
    text-align: left;
    &.selected {
      transform: scale(1);
    }
  }
  .control-dots{
    position: relative;
  }
  
}
.card-container {
  display: grid;
  @include respond(tab-port){
    display: none;
  }
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 25px;
  margin-top: 1em;
}

.card{
  display: flex;
  flex-direction: column;
  padding: 37px 24px 23px;
  background: #fff;
  flex: 1;
  box-shadow: 0px 0px 10px #bbb;
  &.blue{
    color:$blue-color;
    border-bottom: 12px solid $blue-color;
  }
  &.green{
    color:$green-color;
    border-bottom: 12px solid $green-color;
  }
  &.cyan{
    color:$cyan-color;
    border-bottom: 12px solid $cyan-color;
  }
  
  > .img-holder{
    position: relative;
    width: 100%;
    margin-bottom: 24px;
    &:before{
      content: "";
      width: 0;
      height: 0;
      
      position: absolute;
    }
    &:after{
      content: "";
      width: 0;
      height: 0;
      
      position: absolute;
      bottom: 0;
      right:0;
    }
    > img{
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    
  }
  > h4{
    line-height: 1;
    
  }
  @include respond(tab-port){
    > h4 {
      font-size: 1.7em;
    }
    > .img-holder{
      &:before{
        border-top: 4em solid #fff;
        border-right: 4em solid transparent;
      }
      &:after{
        border-bottom: 4em solid #fff;
        border-left: 4em solid transparent;
      }
    }
  }
  @include respond(tab){
    > h4 {
      font-size: 26px;
    }
    > .img-holder{
      &:before{
        border-top: 40px solid #fff;
        border-right: 40px solid transparent;
      }
      &:after{
        border-bottom: 40px solid #fff;
        border-left: 40px solid transparent;
      }
    }
  }
  @include respond(tab-land){
    > h4 {
      font-size: 34px;
    }
    > .img-holder{
      &:before{
        border-top: 96px solid #fff;
        border-right: 96px solid transparent;
      }
      &:after{
        border-bottom: 96px solid #fff;
        border-left: 96px solid transparent;
      }
    }
  }
}

footer{
  background: #c6c6c6;
  padding-top: 20px;
  padding-bottom: 50px;
  @include respond(tab-port){
    display: none;
    
  }
  > div {
    margin: $normal-margin;
    @include respond(tab-port){
      margin: $mobile-margin;
      
    }
    @include respond(big-desktop){
      margin: $container-margin;
    }
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    color: #707070;
    > .social-medias{
      > ul {
        display: flex;
        > li {
          margin-left: 12px;
          > svg{
            height: 25px;
            width: 25px;
            background: #707070;
            border-radius: 50%;
            padding: 4px;
            display: flex;
            fill: #c6c6c6;
          }
        }
      }
      
    }
  }
}

button{
  &.btn{
    color: #fff;
    padding:16px 42px;
    font-size: 18px;
    border: 1px solid #fff;
    @include respond(tab-port){
      padding:.8em 1.5em;
      font-size: 1em;
      border: 1px solid #fff;
    }
    &:hover{
      background: #fff;
      color: #1a398c;
    }
  }
  
}
